<!DOCTYPE html>
<html>
<head>
<title>资讯列表</title>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/manage/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/manage/easyui/themes/default/combo.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/manage/easyui/themes/default/textbox.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/manage/easyui/themes/icon.css" />
<link rel="stylesheet" href="__PUBLIC__/manage/css/iconfont/iconfont.css">
<link rel="stylesheet" href="__PUBLIC__/manage/css/public.css">
<body>
<div id="loading" style="position: absolute; z-index: 1000; top: 0px; left: 0px; width: 100%; height: 100%; background: #000;opacity:0.8; text-align: center; padding-top: 20%;">正在加载中，请稍后</div>

<table id="news"></table>

<div id="news_tool" style="padding:5px;">
	<!-- <div class="toolsearch">
		查询帐号：<input type="text" class="textbox" name="user" style="width:110px">
		创建时间从：<input type="text" name="date_from" class="easyui-datebox" editable="false" style="width:110px">
		到：<input type="text" name="date_to" class="easyui-datebox" editable="false" style="width:110px">
		<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="obj.search();">查询</a>
	</div> -->
	<div class="toolbar">
		<a href="#" class="easyui-linkbutton btn-add" iconCls="icon-add-new" plain="true">添加</a>
		<a href="#" class="easyui-linkbutton btn-edit" iconCls="icon-edit-new" plain="true">修改</a>
		<a href="#" class="easyui-linkbutton btn-remove" iconCls="icon-delete-new" plain="true" onclick="">删除</a>
		<a href="#" class="easyui-linkbutton btn-refresh" iconCls="icon-reload" plain="true">刷新</a>
		<a href="#" class="easyui-linkbutton btn-redo" iconCls="icon-redo" plain="true" onclick="">取消选择</a>		
	</div>
</div>
<script src="__PUBLIC__/manage/easyui/jquery.min.js"></script>
<script src="__PUBLIC__/manage/easyui/jquery.easyui.min.js"></script>
<script src="__PUBLIC__/manage/easyui/easyui-lang-zh_CN.js" ></script>
<script type="text/javascript" src="__PUBLIC__/manage/js/public.js" ></script>
<script>
	var PUBLIC = "__PUBLIC__";
  	var URL = "__URL__";
	$(function(){
		var col_array = [[
		{field : 'categoryname',title : '资讯类型',width : 50},
							{field : 'newstitle',title : '标题',width : 50},
							{field : 'newsbrief',title : '摘要',width : 50},
							{field : 'newsinfomation',title : '内容',width : 50},
							{field : 'newspubdate',title : '时间',width : 50},
						]];
		public_datagrid('news',col_array,'{:U("Manage/News/lists_bgd")}');
		/*点击修改按钮*/
		$("#news_tool .btn-edit").on("click",function(){
			manager_tool.edit('news','{:U("Manage/GoodsUnit/edit")}?unitid=','unitid','','',editFunc);
		})
		/*点击删除按钮*/
		$("#news_tool .btn-remove").on("click",function(){
			manager_tool.remove('news','{:U("Manage/GoodsUnit/delete")}','unitid');
		})
		/*点击新增按钮*/
	    $("#news_tool .btn-add").on("click",function(){
	        manager_tool.add('news','新增/修改物品单位');
	    })
	    /*点击刷新按钮*/
	    $("#news_tool .btn-refresh").on("click",function(){
	        manager_tool.reload('news');
	    })
	    /*点击取消选择按钮*/
	    $("#news_tool .btn-redo").on("click",function(){
	        manager_tool.redo('news');
	    })
		/*点击修改额外执行的方法*/
		function editFunc(provice,city){
			
		}
		/*新增和修改点击提交的方法*/
		$("#btnsubmit_news_add").on("click",function(e){
			e.preventDefault();
			savePro('news','add',"{:U('Manage/GoodsUnit/add')}");
		})
	})
function show(){
     $("#loading").fadeOut("normal", function(){
         $(this).remove();
     });
 }    
 var delayTime;
 $.parser.onComplete = function(){
     if(delayTime) 
         clearTimeout(delayTime);
     delayTime = setTimeout(show,500);
 }
</script>
</body>
</html>