<!--头部公共部分-->
<include file="Index/header" />
<link href="__PUBLIC__/pc/css/main.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/pc/js/main.js" type="text/javascript"></script>
<script src="__PUBLIC__/pc/js/page.js" type="text/javascript"></script>
	<script>
	$(function(){
		
		
		/***资源列表 公司移入显示效果***/
		$(".company").mouseover(function(){
			$(this).find('.company_div').show();
			$(this).css('position','relative');
		}).mouseout(function(){
			$(this).find('.company_div').hide();
			$(this).css('position','static');
		});
		
		/*显示条数点击效果**/
		$(".page_limit span").click(function(){
			$(".page_limit span").removeClass('click');
			$(this).addClass('click');
		});
		/******价格范围效果******/
		
		

        //选择价格范围提交
        $(".absolute_span").on("click",function()
        {
            $("#form_filter").submit();
        });

        //排序
        $(".list_content_title .paixu,.list_content_title .paixu2").on("click",function()
        {
            $("#sort").val($(this).data("sort"));
            $("#form_filter").submit();
        });
		$(".jgfw_sub").click(function(){
			 $("#form_filter").submit();
		});
	});
    
    </script>
   	    
    <form method="get" action="/product/list" id="form_filter">
         <div id="xhzysx" class="clearfix">
     		<div class="xhzysx_content">
            	<div class="content_theme">
                        <h3 class="xhzysx_title"><span class="fcolor_0">现货资源</span>筛选</h3>	
<div class="flxz_type">
    <div class="sx_type clearfix">
        <h4>{$hotcity['name']}</h4>
        <p style="display:block;">
            <volist id="vo" name="hotcity['city']">
        	 <a href="{:U('Home/Product/product')}?city={$vo['cityname']}" data-key="city" data-val="{$vo['citycode']}" class="f ">{$vo['cityname']}</a>
            </volist>
        </p>
    </div>
    
    <volist id="vo1" name="variety">
     <div class="sx_type clearfix">
        <h4>{$vo1['varietyname']}</h4>
        <p>
            <volist id="vo2" name="vo1['grade']">
            <a href="{:U('Home/Product/product')}?gradeid={$vo2['gradeid']}" data-key="{$vo1['varietyid']}" data-val="{$vo2['gradeid']}" class="f">{$vo2['gradename']}</a>
            </volist>
        </p>     
        <span style="display:none" class="down_btn open" href="javascript:void(0)">展开</span>
        <span class="up_btn close" href="javascript:void(0)">收起</span>
    </div>
    </volist> 
          <p class="sxtj clearfix">
          	<span class="sxtj_text">筛选条件：</span>
              <span class="sxtj_qb">全部</span>
          </p>
          
          <p class="sxtj_sear">
         
          	<span> <i>品 种 ： </i> <input class="inp_yu" type="text" name="cate" id="cate" value="" /> </span>
              <span> <i>牌 号 ： </i> <input class="inp_yu" type="text" name="material" id="material" value="" /> </span>
              <span> <i>厂 家 ： </i> <input class="inp_yu" type="text" name="manufacturer" id="manufacturer" value="" /> </span>
              <span> <i>公 司 ： </i> <input class="inp_yu" type="text" name="company" id="company" value="" /> </span>
          	<input class="submit_btn" type="submit"  value=" "/>
              <input type="hidden" name="city" id="city"  value="" />
             <!--  <input type="hidden" name="keyword" id="keyword"  value="" /> -->
          </p>
          
</div>
   
             		 </div>
            </div>   
     </div>
    <!-----现货资源列表--------> 
     
     <div id="xhzy_list" class="mar_t20">
     	<div class="xhzy_list_content">
        	<div class="list_content">
            	<div class="list_content_title">
                	<div class="list_title fl"><span class="fcolor_0">现货资源</span>列表</div>
                    <div class="limit_su fl">共搜到<span class="fcolor_8">{$data_count}</span>条数据</div>

                   

                    <div class="paixu fl click" data-sort="0">默认排序</div>
                    <div class="paixu2 fl " data-sort="1">价格从低到高</div>

                    <input type="hidden" name="defaultSort" id="sort" value="" />
                    <div class="jgfw fl">
                    	<p class="jgfw_text">价格范围</p>
                        <p class="jgfw_shuru">
                        	<input type="text" name="price_from" id="price_from" onkeyup="this.value=this.value.replace(/[^\d]/g,'') " placeholder="最低价" value="0" class="on" />
                           	<i>-</i>
                            <input type="text" name="price_to" id="price_to" onkeyup="this.value=this.value.replace(/[^\d]/g,'') " placeholder="最高价" value="0" class="on"/>
                        </p>
                        <a href="javascript:void(0);" class="jgfw_sub">确定</a>
                    </div>
                    <div class="yxsj fl">
                    	<i>有效时间&nbsp;&nbsp;</i>
                         <div class="select">
                        	<a href="javascript:void(0)" class="moren">5天内</a>
                         	<ul class="select_list">
                            	<li data-val="-1">1天内</li>
                            	<li data-val="-3">3天内</li>
                            	<li data-val="-5">5天内</li>
                            	<li data-val="-10">10天内</li>
                            	<li data-val="-15">15天内</li>
                            	<li data-val="-30">30天内</li>
                            </ul>
                            <input type="hidden" name="dayCon" id="time" value="-5" />
                         </div>
                    </div>
                    <div class="page_limit fl">
                        <i>每页显示</i>
                        <span data-val="20"  class="click">20条</span>
                        <span data-val="40" >40条</span>
                        <span data-val="60" >60条</span>
                        <input id="pageNo" name="pageNo" type="hidden" value="1" />
						<input id="pageSize" name="pageSize" type="hidden" value="20" />
                    </div>
                </div>
            </div>
            <table class="xhzy_table">
            	<tr class="tr_h39">
                	<th class="td_w80">品种 </th>
                    <th class="td_w120">牌号 </th>
                    <th class="td_w130">厂家</th>
                    <th class="td_w100">数量</th>
                    <th class="td_w100">价格</th>
                    <th class="td_w100">交货地</th>
                    <th class="td_w120">交货时间</th>
                    <th class="td_w200">公司</th>
                    <th class="td_w100">更新时间</th>
                    <th class="td_w150">操作</th>
                </tr>
                <volist id="vo" name="json_arr">
                <tr class="tr_h56">
                	<td class="td_w80"><span>{$vo['varietyname']}</span></td>
                    <td class="td_w120"><span>{$vo['gradename']}</span></td>
                    <td class="td_w130">{$vo['factoryname']}</td>
                    <td class="td_w100">{$vo['quantity']}{$vo['unitname']}</td>
                    <td class="td_w100 fcolor_8">￥{$vo['unitprice']}</td>
                    <td class="td_w100">{$vo['deliveryplace']}</td>
                    <td class="td_w120">现货</td>
                    <td class="td_w200">
                    	<div class="company"><p class="gs">{$vo['companyname']}</p>
                            <div class="company_div">
                            	<p>{$vo['companyname']}</p>
                                <p>江小姐 13723792661</p>
                                <p class="tip">联系我时，请说是在找磁材网上看到的，谢谢！</p>
                            </div>
                        </div>
                    </td>
                    <td class="td_w100">
                        2小时前
                    </td>
                    <td class="td_w150">
                        <img src="__PUBLIC__/pc/image/main/resource_close.png" />
                    </td>
                </tr>
                </volist>
                
            </table>
        </div>
     </div>     
    </form>
<!--页码开始-->            
<div class="pager">
    <div class="digg" style="center">{$page}</div>
</div>
<!--页码结束-->
<!--     <input type="hidden" id="pageUrlPre" value="/product/list?cate=&material=&manufacturer=&company=&city=&keyword=&defaultSort=0&price_from=0&price_to=0&dayCon=-5&pageSize=20&pageNo="/>
    <div class="page_a02">
    	<div class="page_box">
<span class="on">1</span>
<a href="list@cate=&material=&manufacturer=&company=&city=&keyword=&defaultSort=0&price_from=0&price_to=0&dayCon=-5&pageSize=20&pageNo=2">2</a>
<a href="list@cate=&material=&manufacturer=&company=&city=&keyword=&defaultSort=0&price_from=0&price_to=0&dayCon=-5&pageSize=20&pageNo=3">3</a>
<a href="list@cate=&material=&manufacturer=&company=&city=&keyword=&defaultSort=0&price_from=0&price_to=0&dayCon=-5&pageSize=20&pageNo=4">4</a>
<a href="list@cate=&material=&manufacturer=&company=&city=&keyword=&defaultSort=0&price_from=0&price_to=0&dayCon=-5&pageSize=20&pageNo=5">5</a>
<a href="list@cate=&material=&manufacturer=&company=&city=&keyword=&defaultSort=0&price_from=0&price_to=0&dayCon=-5&pageSize=20&pageNo=6">6</a>
<a href="list@cate=&material=&manufacturer=&company=&city=&keyword=&defaultSort=0&price_from=0&price_to=0&dayCon=-5&pageSize=20&pageNo=7">7</a>
<a href="list@cate=&material=&manufacturer=&company=&city=&keyword=&defaultSort=0&price_from=0&price_to=0&dayCon=-5&pageSize=20&pageNo=2">下一页</a>
<a href="list@cate=&material=&manufacturer=&company=&city=&keyword=&defaultSort=0&price_from=0&price_to=0&dayCon=-5&pageSize=20&pageNo=785">尾页</a>
<span class="total">共 785 页</span>
<span class="to">转到第 <input type="text" value="1" class="n jump_page" /> 页</span>
<span class="go">GO</span>
</div>

	</div> -->
    
<!--客服qq-->
<!-- <div class="kf">
    <div class="kf_box">
        <dl class="b">
            <dt>在线客服</dt>
            <dd>
                <div class="b1">服务时间</div>
                <div class="b2">9:00-17:30</div>
                <div class="b3"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3115678895&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:3115678895:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></div>
                <div class="b4">客服热线</div>
                <div class="b5">020-8 3939 808</div>
            </dd>
        </dl>
        <div class="t">
            <a href="javascript:void(0);"></a>
        </div>
    </div>
</div> -->

<div class="kf">
    <ul>
        <li class="one">
            <div class="on" style="display:none;">服务<br />时间</div>
            <div class="other" style="display:none;">9:00-17:30</div>
        </li>
        <li class="two">
            <div class="on" style="display:none;">在线<br />客服</div>
            <div class="other" style="display:none;"><a target="_blank" href="../../wpa.qq.com/msgrd@v=3&uin=3115678895&site=qq&menu=yes"><img border="0" src="../../wpa.qq.com/pa@p=2_3A3115678895_3A51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></div>
        </li>
        <li class="three">
            <div class="on" style="display:none;">客服<br />热线</div>
            <div class="other" style="display:none;">020-8 3939 808</div>
        </li>
        <li class="four" id="up_top">
            <div class="on" style="display:none;">返回<br />顶部</div>
        </li>
    </ul>
</div>
<script>
    function getInputPage() {
        var page = $("#page-num").val();
        var page_url = decodeURI($("#page-submit").attr("data-page"));
        page_url = page_url.replace('[PAGE]', page)
        location.href = page_url;
    }
    $("#page-num").keydown(function(e) {
        var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
        if (key == 13) {
            e.preventDefault();
            getInputPage()
        }
    });
</script>
<!--底部公共部分-->
<include file="Index/footer" />