<!--头部公共部分-->
<include file="Index/header" />
<link href="__PUBLIC__/pc/css/jingjia.css" rel="stylesheet" type="text/css" />
<div id="jinjia_box">
	<div class="jinjia_content clearfix">
		<div class="list_left_box clearfix">
			<!--新加地区 start-->
			<div class="area-box">
				<p>
					<span>分类：</span>
					<a href="jingjia">全部</a>
							<a href="jingjia@areaId=1">华南</a>
							<a href="jingjia@areaId=2">华东</a>
							<a href="jingjia@areaId=4">华北</a>
							<a href="jingjia@specialId=1">神华专场</a>
							<a href="jingjia@specialId=2">中石化专场</a>
							<a href="jingjia@specialId=3">煤化工专场</a>
							<a href="jingjia@specialId=4">进口料专场</a>
							<a href="jingjia@specialId=5">福建联合</a>
				</p>
			</div>
			<!--新加地区 end-->

						<div class="list_left">
							<div class="jinjia_status clearfix">
								<div class="chapter"></div>
								<div class="jnjia_location jnjia_location_south"></div>
								<div class="jinjia_status_left h136">
									<div class="clearfix">
										<div class="count_character_length p_h45">HDPE&nbsp;HF5110&nbsp;伊朗国家石化&nbsp;19.25吨</div>
										<div class="jinjia_product_desc p_h45 color3 fl">HDPE&nbsp;HF5110&nbsp;伊朗国家石化&nbsp;19.25吨</div>
										<div class="jinjia_special fl">
											<!-- <div class="l"></div> -->
											<div class="r">
												进口料专场
											</div>
										</div>
									</div>									
									<p class="p_price">
										<span>起拍价：</span>
										<span class="price">9350元</span>
										<span class="remark">自提</span>
										
									</p>
									<p class="p_address">
										<span>货物所在地：</span>
										<span>广州</span>
									</p>
									<p class="p_end">
										<span>竞价结束时间：</span>
										<span>2016-08-25 11:49:02</span>
									</p>
								</div>
								<div class="jinjia_status_right h136">
									<p class="p1">最高中标价：<span>9395</span>元/吨 </p>
									<p class="p2">最低中标价：<span>9395</span>元/吨 </p>
									<a href="jingjia/view@id=42" class="btn_bg3">查看详情</a>
								</div>
							</div>
						</div>
						<div class="list_left">
							<div class="jinjia_status clearfix">
								<div class="chapter"></div>
								<div class="jnjia_location "></div>
								<div class="jinjia_status_left h136">
									<div class="clearfix">
										<div class="count_character_length p_h45">PP&nbsp;1102K&nbsp;宁夏神华&nbsp;40吨</div>
										<div class="jinjia_product_desc p_h45 color3 fl">PP&nbsp;1102K&nbsp;宁夏神华&nbsp;40吨</div>
										<div class="jinjia_special fl">
											<!-- <div class="l"></div> -->
											<div class="r">
												神华专场
											</div>
										</div>
									</div>									
									<p class="p_price">
										<span>起拍价：</span>
										<span class="price">8000元</span>
										<span class="remark">自提</span>
										
									</p>
									<p class="p_address">
										<span>货物所在地：</span>
										<span>临沂</span>
									</p>
									<p class="p_end">
										<span>竞价结束时间：</span>
										<span>2016-08-18 11:45:00</span>
									</p>
								</div>
								<div class="jinjia_status_right h136">
									<p class="p1">最高中标价：<span>--</span>元/吨 </p>
									<p class="p2">最低中标价：<span>--</span>元/吨 </p>
									<a href="jingjia/view@id=38" class="btn_bg3">查看详情</a>
								</div>
							</div>
						</div>
						<div class="list_left">
							<div class="jinjia_status clearfix">
								<div class="chapter"></div>
								<div class="jnjia_location jnjia_location_south"></div>
								<div class="jinjia_status_left h136">
									<div class="clearfix">
										<div class="count_character_length p_h45">HDPE&nbsp;6200&nbsp;乌兹别克&nbsp;25吨</div>
										<div class="jinjia_product_desc p_h45 color3 fl">HDPE&nbsp;6200&nbsp;乌兹别克&nbsp;25吨</div>
										<div class="jinjia_special fl">
											<!-- <div class="l"></div> -->
											<div class="r">
												进口料专场
											</div>
										</div>
									</div>									
									<p class="p_price">
										<span>起拍价：</span>
										<span class="price">8950元</span>
										<span class="remark">自提</span>
										
									</p>
									<p class="p_address">
										<span>货物所在地：</span>
										<span>佛山</span>
									</p>
									<p class="p_end">
										<span>竞价结束时间：</span>
										<span>2016-08-18 11:45:00</span>
									</p>
								</div>
								<div class="jinjia_status_right h136">
									<p class="p1">最高中标价：<span>--</span>元/吨 </p>
									<p class="p2">最低中标价：<span>--</span>元/吨 </p>
									<a href="jingjia/view@id=39" class="btn_bg3">查看详情</a>
								</div>
							</div>
						</div>
						<div class="list_left">
							<div class="jinjia_status clearfix">
								<div class="chapter"></div>
								<div class="jnjia_location jnjia_location_east"></div>
								<div class="jinjia_status_left h136">
									<div class="clearfix">
										<div class="count_character_length p_h45">PP&nbsp;S1003&nbsp;神华榆林&nbsp;10吨</div>
										<div class="jinjia_product_desc p_h45 color3 fl">PP&nbsp;S1003&nbsp;神华榆林&nbsp;10吨</div>
										<div class="jinjia_special fl">
											<!-- <div class="l"></div> -->
											<div class="r">
												神华专场
											</div>
										</div>
									</div>									
									<p class="p_price">
										<span>起拍价：</span>
										<span class="price">8100元</span>
										<span class="remark">自提</span>
										
									</p>
									<p class="p_address">
										<span>货物所在地：</span>
										<span>金华</span>
									</p>
									<p class="p_end">
										<span>竞价结束时间：</span>
										<span>2016-08-11 11:45:00</span>
									</p>
								</div>
								<div class="jinjia_status_right h136">
									<p class="p1">最高中标价：<span>--</span>元/吨 </p>
									<p class="p2">最低中标价：<span>--</span>元/吨 </p>
									<a href="jingjia/view@id=37" class="btn_bg3">查看详情</a>
								</div>
							</div>
						</div>
						<div class="list_left">
							<div class="jinjia_status clearfix">
								<div class="chapter"></div>
								<div class="jnjia_location jnjia_location_east"></div>
								<div class="jinjia_status_left h136">
									<div class="clearfix">
										<div class="count_character_length p_h45">PP&nbsp;S1003&nbsp;神华榆林&nbsp;10吨</div>
										<div class="jinjia_product_desc p_h45 color3 fl">PP&nbsp;S1003&nbsp;神华榆林&nbsp;10吨</div>
										<div class="jinjia_special fl">
											<!-- <div class="l"></div> -->
											<div class="r">
												神华专场
											</div>
										</div>
									</div>									
									<p class="p_price">
										<span>起拍价：</span>
										<span class="price">8000元</span>
										<span class="remark">自提</span>
										
									</p>
									<p class="p_address">
										<span>货物所在地：</span>
										<span>金华</span>
									</p>
									<p class="p_end">
										<span>竞价结束时间：</span>
										<span>2016-08-04 11:45:00</span>
									</p>
								</div>
								<div class="jinjia_status_right h136">
									<p class="p1">最高中标价：<span>--</span>元/吨 </p>
									<p class="p2">最低中标价：<span>--</span>元/吨 </p>
									<a href="jingjia/view@id=36" class="btn_bg3">查看详情</a>
								</div>
							</div>
						</div>
						<div class="list_left">
							<div class="jinjia_status clearfix">
								<div class="chapter"></div>
								<div class="jnjia_location jnjia_location_east"></div>
								<div class="jinjia_status_left h136">
									<div class="clearfix">
										<div class="count_character_length p_h45">PP&nbsp;S1003&nbsp;神华榆林&nbsp;10吨</div>
										<div class="jinjia_product_desc p_h45 color3 fl">PP&nbsp;S1003&nbsp;神华榆林&nbsp;10吨</div>
										<div class="jinjia_special fl">
											<!-- <div class="l"></div> -->
											<div class="r">
												神华专场
											</div>
										</div>
									</div>									
									<p class="p_price">
										<span>起拍价：</span>
										<span class="price">7900元</span>
										<span class="remark">自提</span>
										
									</p>
									<p class="p_address">
										<span>货物所在地：</span>
										<span>金华</span>
									</p>
									<p class="p_end">
										<span>竞价结束时间：</span>
										<span>2016-07-28 11:45:00</span>
									</p>
								</div>
								<div class="jinjia_status_right h136">
									<p class="p1">最高中标价：<span>7940</span>元/吨 </p>
									<p class="p2">最低中标价：<span>7940</span>元/吨 </p>
									<a href="jingjia/view@id=35" class="btn_bg3">查看详情</a>
								</div>
							</div>
						</div>
		</div>
		<div class="list_right_box">
			<div class="list_right">
				<p class="login">登录后可以参与竞价</p>
				<a style="margin-bottom:20px;" href="javascript:void(0)" class="btn login_a">立即登录</a>
			</div>
			<div class="liucheng"></div>
		</div>
	</div>
		
    <input type="hidden" id="pageUrlPre" value="jingjia?areaId=&pageSize=6&pageNo="/>
    <div class="page_a01">
        <div class="page_box">
<span class="on">1</span>
<a href="jingjia@areaId=&pageSize=6&pageNo=2">2</a>
<a href="jingjia@areaId=&pageSize=6&pageNo=3">3</a>
<a href="jingjia@areaId=&pageSize=6&pageNo=4">4</a>
<a href="jingjia@areaId=&pageSize=6&pageNo=5">5</a>
<a href="jingjia@areaId=&pageSize=6&pageNo=6">6</a>
<a href="jingjia@areaId=&pageSize=6&pageNo=7">7</a>
<a href="jingjia@areaId=&pageSize=6&pageNo=2">下一页</a>
<span class="total">共 7 页</span>
<span class="to">转到第 <input type="text" value="1" class="n jump_page" /> 页</span>
<span class="go">GO</span>
</div>

    </div>
</div>
<div id="mask"></div>
<div class="upload_bomb" id="shangchuang">
	<div class="upload_box1" >
		<form action="">
			<div class="head">
				<span class="text">上传资料</span>
				<a href="javascript:void(0)" class="close"></a>
			</div>
			<div class="content">
				<ul class="uls">
					<li>
						<span class="l">
							<a href="javascript:void(0)" class="click_tab card1">三证合一</a>
						</span>
					</li>
					<li>
						<span class="l">营业执照：</span>
						<span class="m">
						</span>
						<span class="r">
							<a href="javascript:void(0)"></a>
							<input type="file" id="file1" class="file" name="file" data-type="1">
						</span>
					</li>
					<li>
						<span class="l">组织机构代码证：</span>
						<span class="m">
						</span>
						<span class="r">
							<a href="javascript:void(0)"></a>
							<input type="file" id="file2" class="file" name="file" data-type="2"/>
						</span>
					</li>
					<li>
						<span class="l">税务登记证：</span>
						<span class="m">
						</span>
						<span class="r">
							<a href="javascript:void(0)"></a>
							<input type="file" id="file3" class="file" name="file" data-type="3" />
						</span>
					</li>
					<li>
						<span class="l">法人授权委托书：</span>
						<span class="m">
						</span>
						<span class="r">
							<a href="javascript:void(0)"></a>
							<input type="file" id="file4" class="file" name="file" data-type="4" />
						</span>
					</li>
				</ul>
				<div class="tips">
					<p class="mar_b10"><label><input type="checkbox" name="" class="has-readed">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;阅读并接受</label><a href="jingjia/agreement" target=_blank>《找塑料网竞价协议》</a></p>
					<p><strong>提示：</strong>下载并填写好<a href="jingjia/authorization" target=_blank>《法人授权确认函》</a>，通过找塑料网审核后，方可参与竞价业务。<a href="__PUBLIC__/pc/document/jingjia/farenshouquanquerenhan.docx">下载《法人授权确认书》</a></p>
				</div>
			</div>
			<div class="fooler">
				<a href="javascript:void(0)" class="cancel">取&nbsp;&nbsp;消</a>
				<a href="javascript:void(0)" class="commit" data-isThreeOne="0" id="threeOne">提&nbsp;&nbsp;交</a>
			</div>
		</form>
	</div>
	<div class="upload_box2" style="display:none; height:465px;">
		<form action="">
			<div class="head">
				<span class="text">上传资料</span>
				<a href="javascript:void(0)" class="close"></a>
			</div>
			<div class="content">
				<ul class="uls">
					<li>
						<span class="l">
							<a href="javascript:void(0)" class="click_tab card2">老三证</a>
						</span>
					</li>
					<li>
						<span class="l">营业执照：</span>
						<span class="m">
						</span>
						<span class="r">
							<a href="javascript:void(0)"></a>
							<input type="file" id="file5" class="file" name="file" data-type="1" />
						</span>
					</li>
					<li>
						<span class="l">法人授权委托书：</span>
						<span class="m">
						</span>
						<span class="r">
							<a href="javascript:void(0)"></a>
							<input type="file" id="file6" class="file" name="file" data-type="4" />
						</span>
					</li>
				</ul>
				<div class="tips">
					<p class="mar_b10"><label><input type="checkbox" name="" class="has-readed">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;阅读并接受</label><a href="jingjia/agreement" target=_blank>《找塑料网竞价协议》</a></p>
					<p><strong>提示：</strong>下载并填写好<a href="jingjia/authorization" target=_blank>《法人授权确认函》</a>，通过找塑料网审核后，方可参与竞价业务。<a href="__PUBLIC__/pc/document/jingjia/farenshouquanquerenhan.docx">下载《法人授权确认书》</a></p>
				</div>	
			</div>
			<div class="fooler">
				<a href="javascript:void(0)" class="cancel">取&nbsp;&nbsp;消</a>
				<a href="javascript:void(0)" data-isThreeOne="1" class="commit" id="threeTwo">提&nbsp;&nbsp;交</a>
			</div>
		</form>
	</div>
</div>
<script src="__PUBLIC__/pc/plugin/layer-v2.2/layer/layer.js" type="text/javascript"></script>      
<script src="__PUBLIC__/pc/plugin/ajaxfileupload.js@v=01" type="text/javascript"></script>   
<script src="__PUBLIC__/pc/js/jingjia/jingjia_index.js@v=02" type="text/javascript"></script>		
<script>
	function page(n,s){
		$("#pageNo").val(n);
		$("#pageSize").val(s);
		$("#myform").submit();
		return;
	};
    $(function()
    {
    	//分页跳转
		$('input.jump_page').bind("keyup",function(event){
		    if (event && event.keyCode == 13) {
		    	$(this).parent().next(".go").click();
		    }
		})
		$("span.go").click(function(){
			var $input = $(this).prev(".to").children("input");
			var num=$input.val();
			if(isNaN(num)){
				alert("只能输入数字");
				$input.val(1);
				return false;
			}
			if(!num.match('^\\d+$')){
				alert("只能输入数字");
				$input.val(1);
				return false;
			}
			if(num<1){
				alert("请输入大于1的数字");
				$input.val(1);
				return false;
			}
			location.href="jingjia@areaId=&pageSize=6&pageNo="+num;
		});
    });	
</script>
<!--底部公共部分-->
<include file="Index/footer" />