<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="baidu-site-verification" content="GEYeUSYelI" />
        <meta property="qc:admins" content="1376034076620173541176375" />
        <meta property="wb:webmaster" content="98f17058f76adb4c" />
        <title>【找塑金融】塑化行业一站式资金融通平台 - 找磁材网</title>
        <meta name="keywords" content='找塑金融,找磁材白条,找磁材贷款,找磁材网金融,找磁材网供应链金融,供应链金融,磁材融资'/>
        <meta name="description" content='找塑金融，基于找磁材网大数据的塑化行业一站式资金融通平台，为塑化产业链客户提供信用购、超短贷、票据通、货易融等金融服务。' />
        <link href="__PUBLIC__/pc/plugin/artdialog/dialog.css" rel="stylesheet" type="text/css"/>     
        <link href="__PUBLIC__/pc/css/common.css" rel="stylesheet" type="text/css" />
        <script src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
        <link href="__PUBLIC__/pc/plugin/jquery-validate/jquery.validate.min.css" type="text/css" rel="stylesheet" />
        <script src="__PUBLIC__/pc/plugin/jquery-validate/jquery.validate.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/pc/plugin/jquery-validate/jquery.validate.method.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="__PUBLIC__/pc/plugin/jquery-areapop/jquery-areapop.js"></script>
        <script src="__PUBLIC__/pc/plugin/artdialog/dialog.js" type="text/javascript"></script>
        <script src="__PUBLIC__/pc/plugin/form.js" type="text/javascript"></script>
        <script src="__PUBLIC__/pc/js/js.js" type="text/javascript"></script>
        <script src="__PUBLIC__/pc/js/common.js" type="text/javascript"></script>    
    </head>
<body><link href="__PUBLIC__/pc/css/jr/common.css" type="text/css" rel="stylesheet" />
<div class="jr-header-wrapper">
    <div class="jr-header jr-width clearfix">
        <div class="jr-logo-wrapper fl">
            <a href="../www.zhaosuliao.com/default.htm" title="找磁材网"><img src="__PUBLIC__/pc/image/common/logo3.png" width="160" height="55" alt="找磁材网" title="找磁材网" /></a>
            <a href="default.htm" title="找磁材金融"><img src="__PUBLIC__/pc/image/jr/jr_logo.png" alt="找磁材金融" title="找磁材金融" /></a>
        </div>
        <ul class="jr-nav-list fr">
            <li class="fl"><a href="default.htm" class="active">找塑金融首页</a></li>
            <li class="fl"><a href="member"  >我的找塑金融</a></li>
            <li class="fl"><a href="fqa" >新手指南</a></li>
        </ul>
    </div>          
</div><script type="text/javascript" src="__PUBLIC__/pc/plugin/mustache/mustache.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/pc/plugin/jquery-easing/jquery-easing.js"></script>
<link href="__PUBLIC__/pc/css/jr/home.css@v=20160401" rel="stylesheet" type="text/css" />
<div class="jr-home-wrapper">
    <div class="jr-home-banner-wrapper">
        <div class="jr-home-banner jr-width">
            <div class="number-wrapper text-center real-number-wrapper" id="real-number-wrapper" data-account="853" data-money="534262724.41">
                <span class="number-text insert-account-after" data-target="account">金融客户</span>
                <span class="number-text marin-left-offset">户，</span>
                <span class="number-text marin-left-offset insert-money-after" data-target="money">交易额</span>
                <span class="number-text marin-left-offset">元</span>        
            </div>                      
            <a href="#" class="jr-home-apply-btn" data-action="apply" onclick="ga('send', 'event', 'button', 'click', '申请金融1');">&nbsp;</a>         
        </div>      
    </div>
    <div class="jr-home-content-wrapper">
        <div class="jr-home-content jr-width">
            <ul class="jr-home-desc">
                <li><img src="__PUBLIC__/pc/image/jr/home/qing_song_dai.jpg" alt="轻松贷"></li>
                <li><img src="__PUBLIC__/pc/image/jr/home/duan_qi_dai.jpg" alt="短期贷"></li>
                <li><img src="__PUBLIC__/pc/image/jr/home/piao_ju_tong.jpg" alt="票据通"></li>
                <li><img src="__PUBLIC__/pc/image/jr/home/huo_yi_dai.jpg" alt="货易贷"></li>
            </ul>
        </div>
    </div>
    <div class="jr-home-content-wrapper">
        <div class="jr-home-demo jr-width">
            <p class="title"></p>
            <ul>
                <li>
                    <img src="__PUBLIC__/pc/image/jr/home/demo01.png@v=20160401" data-src="http://www.zhaosuliao.com/resources/fore/image/jr/home/demo01.png?v=20160401" width="210" height="132" alt="" title="" />
                    <span class="text text01"></span>
                </li>
                <li>
                    <img src="__PUBLIC__/pc/image/jr/home/demo02.png@v=20160401" data-src="http://www.zhaosuliao.com/resources/fore/image/jr/home/demo02.png?v=20160401" width="210" height="132" alt="" title="" />
                    <span class="text text02"></span>
                </li>
                <li>
                    <img src="__PUBLIC__/pc/image/jr/home/demo03.png@v=20160401" data-src="http://www.zhaosuliao.com/resources/fore/image/jr/home/demo03.png?v=20160401" width="210" height="132" alt="" title="" />
                    <span class="text text03"></span>
                </li>
                <li>
                    <img src="__PUBLIC__/pc/image/jr/home/demo04.png@v=20160401" data-src="http://www.zhaosuliao.com/resources/fore/image/jr/home/demo04.png?v=20160401" width="210" height="132" alt="" title="" />
                    <span class="text text04"></span>
                </li>
                <li style="margin-right:0;">
                    <img src="__PUBLIC__/pc/image/jr/home/demo05.png@v=20160401" data-src="http://www.zhaosuliao.com/resources/fore/image/jr/home/demo05.png?v=20160401" width="210" height="132" alt="" title="" />
                    <span class="text text05"></span>
                </li>
            </ul>
            <div class="img-show" style="display:none;">
                <img src="" width="1140" />
            </div>
        </div>
    </div>
    <div class="jr-home-footer-wrapper">
        <div class="jr-home-footer jr-width">
            <div class="jr-home-apply-desc">
                <img src="__PUBLIC__/pc/image/jr/home/shen_qing_liu_cheng.jpg@v=2016033102" alt="申请流程">
            </div>
            <div class="jr-home-apply">
                <a href="#"  data-action="apply" onclick="ga('send', 'event', 'button', 'click', '申请金融2');">立即申请</a>
            </div>
        </div>
    </div>
</div>
<div class="footer_wrap">
        <div class="in_box">
        <ul class="box1">
            <li class="one">
                <p class="p1">海量客户资源</p>
                <p>连通上下游</p>
            </li>
            <li class="two">
                <p class="p1">行情、交易、物流、金融</p>
                <p>一站式服务</p>
            </li>
            <li class="three">
                <p class="p1">资深交易员</p>
                <p>免费服务一对一</p>
            </li>
            <li class="four">
                <p class="p1">高效IT系统</p>
                <p>实现供需精准匹配</p>
            </li>
        </ul>
        
        <ul class="box2">
            <li>
                <h3>我要买磁材</h3>
                <p><i>▪&nbsp;&nbsp;</i><a href="../www.zhaosuliao.com/help/trade.html#trade2" target="_blank"><b></b>如何委托交易</a></p>
                <p><i>▪&nbsp;&nbsp;</i><a href="../www.zhaosuliao.com/help/trade.html#trade3" target="_blank"><b></b>如何自己找货</a></p>
                <p><i>▪&nbsp;&nbsp;</i><a href="../www.zhaosuliao.com/help/trade.html#trade4" target="_blank"><b></b>如何查看采购单状态</a></p>
            </li>
            <li>
                <h3>我要卖磁材</h3>
                <p><i>▪&nbsp;&nbsp;</i><a href="../www.zhaosuliao.com/help/trade.html#trade7" target="_blank"><b></b>如何发布报价单</a></p>
                <p><i>▪&nbsp;&nbsp;</i><a href="../www.zhaosuliao.com/help/trade.html#trade6" target="_blank"><b></b>如何单条发布报价</a></p>
                <p><i>▪&nbsp;&nbsp;</i><a href="../www.zhaosuliao.com/help/trade.html#trade8" target="_blank"><b></b>如何报价采购信息</a></p>
            </li>
            <li class="list3">
                <h3>常见问题</h3>
                <p><i>▪&nbsp;&nbsp;</i><a href="../www.zhaosuliao.com/help/user.html#user1" target="_blank"><b></b>注册流程</a></p>
                <p><i>▪&nbsp;&nbsp;</i><a href="../www.zhaosuliao.com/help/user.html#user2" target="_blank"><b></b>无法登录/忘记密码</a></p>
                <p><i>▪&nbsp;&nbsp;</i><a href="../www.zhaosuliao.com/help/user.html#user3" target="_blank"><b></b>修改账户信息</a></p>
            </li>
        </ul>
        
        <div class="box3">
            <div class="code">
                <p class="img"><img src="__PUBLIC__/pc/image/common/code_wechat.jpg" alt="找磁材网微信二维码" /></p>
                <p>扫一扫，看行情资讯</p>
            </div>
            <div class="code">
                <p class="img"><img src="__PUBLIC__/pc/image/common/code_app.jpg" alt="找磁材网APP二维码" /></p>
                <p>扫一扫，下载移动端</p>
            </div>
        </div>
    </div>
    <div class="in_box">
        <div class="box4">
            <span class="s">热门标签：</span>
            <div class="list">
                <div class="list_div">
                                    <a href="../www.zhaosuliao.com/company" target="_blank" title="磁材价格">磁材价格</a>
                    <a href="../hq.zhaosuliao.com/zzrl.html" target="_blank" title="最全石化装置动态">最全石化装置动态</a>
                    <a href="../www.zhaosuliao.com/baike/16587.html" target="_blank" title="PP磁材">PP磁材</a>
                    <a href="../www.zhaosuliao.com/baike/16583.html" target="_blank" title="POM磁材">POM磁材</a>
                    <a href="../www.zhaosuliao.com/baike/16595.html" target="_blank" title="通用磁材">通用磁材</a>
                    <a href="../www.zhaosuliao.com/baike/16600.html" target="_blank" title="磁材原料物性">磁材原料物性</a>
                    <a href="../www.zhaosuliao.com/baike/16574.html" target="_blank" title="PE磁材">PE磁材</a>
                    <a href="../www.zhaosuliao.com/baike/16544.html" target="_blank" title="PBT磁材">PBT磁材</a>
                    <a href="../www.zhaosuliao.com/baike/16545.html" target="_blank" title="HDPE磁材">HDPE磁材</a>
                    <a href="../www.zhaosuliao.com/baike/16565.html" target="_blank" title="HIPS磁材">HIPS磁材</a>
                    <a href="../hq.zhaosuliao.com/price/0_1_0_0_0_1_0_0.html" target="_blank" title="磁材价格行情">磁材价格行情</a>
                    <a href="../hq.zhaosuliao.com/price/cc.html" target="_blank" title="石化出厂价格查询">石化出厂价格查询</a>
                </div>
            </div>
            <a href="javascript:;" class="close"></a>
        </div>

        <div class="box5">
            <p>
                <a href="../www.zhaosuliao.com/about.html" target="_blank">关于我们</a> | 
                <a href="../www.zhaosuliao.com/zixun/gsdt/default.htm" target="_blank">公司动态</a> | 
                <a href="../www.zhaosuliao.com/zixun/mtbd/default.htm" target="_blank">媒体报道</a> | 
                <a href="../www.zhaosuliao.com/job.html" target="_blank">诚聘英才</a> | 
                <a href="../www.zhaosuliao.com/contact.html" target="_blank">联系我们</a> | 
                <a href="../www.zhaosuliao.com/feedback.html" target="_blank">意见反馈</a> | 
                <!-- <a href="http://www.zhaosuliao.com/ceo_mailbox.html" target="_blank">CEO邮箱</a> |  -->
                <a href="../www.zhaosuliao.com/law.html" target="_blank">法律声明</a> | 
                <a href="../www.zhaosuliao.com/sitemap.html" target="_blank">网站地图</a> | 
                <a href="../www.zhaosuliao.com/links.html" target="_blank">友情链接</a>
            </p>
            <p>
                COPYRIGHT © 找磁材网 www.zhaosuliao.com <a href="../www.miitbeian.gov.cn/default.htm">粤ICP备15107234号</a>&nbsp;<a rel="nofollow" href="../www.miibeian.gov.cn/default.htm">ICP经营许可证：粤B2-20160023</a>
                <script>
                //站长统计
                var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253441689'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s6.cnzz.com/z_stat.php%3Fid%3D1253441689%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
              
                </script>
            </p>
        </div>
        <div class="box6">
            <!--<a  key ="54a107ffc274e76dc1035520"  logo_size="124x47"  logo_type="realname"  href="http://www.anquan.org" ><script src="http://static.anquan.org/resources/fore/outer/js/aq_auth.js"></script></a>
            <a href="http://webscan.360.cn/index/checkwebsite/url/zhaosuliao.com"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/ef7e1c147d6253064bea858dfeeb5ebc"/></a> -->
            <a target="_blank" href="../www.anquan.org/authenticate/cert/@site=www.zhaosuliao.com&at=realname"><img alt="安全联盟实名验证" src="__PUBLIC__/pc/image/common/aqlm.png" /></a>
            <a target="_blank" href="../webscan.360.cn/index/checkwebsite/url/zhaosuliao.com"><img alt="360网站安全检测" src="__PUBLIC__/pc/image/common/aqjc_360.png" /></a>
            <a target="_blank" href="../si.trustutn.org/info@sn=137141229010801735265&certType=1"><img alt="实名认证" src="__PUBLIC__/pc/image/common/smrz.png" /></a>
            <a id='___szfw_logo___' href='../https@credit.szfw.org/CX20160123013832180167.html' target='_blank'><img alt="诚信网站" src="__PUBLIC__/pc/image/common/cxrz.png" /></a>
            <script type='text/javascript'>(function(){document.getElementById('___szfw_logo___').oncontextmenu = function(){return false;}})();</script>
            <a target="_blank" href="../www.itrust.org.cn/Home/Index/itrust_certifi@wm=1304763357"><img alt="ICP网站征信" src="__PUBLIC__/pc/image/common/qyxypj.png" /></a>
            <a target="_blank" href='../netadreg.gzaic.gov.cn/ntmm/WebSear/WebLogoPub.aspx@logo=440115115012014072300011'><img alt="工商网监电子标识" src="__PUBLIC__/pc/image/common/gswj.png" width="124" height="47"/></a>
        </div>
    </div></div>
</body>
</html>
<div class="jr-home-fc">
    <ul>
        <li class="li"><a href="../www.zhaosuliao.com/feedback.html" target="_blank"><span>我要吐槽</span></a></li>
        <li class="code">
            <span>二维码</span>
            <div class="s"><img src="__PUBLIC__/pca/image/jr/home/code.jpg@v=20160422" alt="找塑宝下载" title="找塑宝下载" width="114" height="114" /></div>
        </li>
        <li class="li"><a href="javascript:;" class="up_top"><span>返回顶部</span></a></li>
    </ul>   
</div>
<script type="text/tpl" id="alreadyFinance">
    <p class="text-center mar_b20"><img src="__PUBLIC__/pc/image/jr/home/dialog_tip_icon.png"></p>      
    <p class="text-center dialog-tip mar_b10">贵公司已经是金融客户，</p>   
    <p class="text-center dialog-tip mar_b10">详情请联系您的交易员。</p>   
</script>   
<script type="text/tpl" id="applingFinance">
    <p class="text-center mar_b20"><img src="__PUBLIC__/pc/image/jr/home/dialog_tip_icon.png"></p>      
    <p class="text-center dialog-tip mar_b10">贵公司已经在申请中，</p>    
    <p class="text-center dialog-tip mar_b10">详情请联系您的交易员。</p>       
</script>
<script type="text/tpl" class="customer-template" data-type="number-list">
    <strong class="number-list-wrapper inline-block" data-target="{{target}}Run">
        <span class="number-list" data-offset="{{offset}}" data-value="{{value}}" data-easing="{{easing}}" data-digit="{{digit}}" style="margin-top:{{marginTop}}px">
            {{#number}}
            <i class="number-item">{{.}}</i>
            {{/number}}
        </span> 
    </strong>       
</script>
<script type="text/tpl" class="customer-template" data-type="number-wrapper">
    <span class="number-text insert-account-after" data-target="account">金融客户</span>
    <span class="number-text marin-left-offset">户，</span>
    <span class="number-text marin-left-offset insert-money-after" data-target="money">交易额</span>
    <span class="number-text marin-left-offset">元</span>            
</script>
<script type="text/tpl" class="customer-template" data-type="comma">
    <span class="number-comma" data-target="{{target}}Run">,</span>
</script>
<script type="text/tpl" class="customer-template" data-type="period">
    <span class="number-period" data-target="{{target}}Run">.</span>
</script>
<script type="text/javascript">
    (function(window, $, undefined){
        var Main = {
            _template: {},
            _easing: [
                "linear", 
                "swing", 
                "easeInQuad", 
                "easeOutQuad", 
                "easeInOutQuad", 
                "easeInCubic",
                "easeOutCubic",
                "easeInOutCubic",
                "easeInQuart",
                "easeOutQuart",
                "easeInOutQuart",
                "easeInQuint",
                "easeOutQuint",
                "easeInOutQuint",
                "easeInSine",
                "easeOutSine",
                "easeInOutSine",
                "easeInExpo",
                "easeOutExpo"
            ],          
            init: function(){
                var that = this;
                that._cacheParam()
                    ._initTempalte()
                    ._bindEventListener();
                that._generate(that._$realNumberWrapper.data("account"), that._$insertAccountAfter, false)
                    ._generate(that._$realNumberWrapper.data("money"), that._$insertMoneyAfter, false);
                setTimeout(function(){
                    that._run();
                }, 600);            
            },
            _cacheParam: function(){
                var that = this;
                $.each([
                    "#temp-number-wrapper",
                    "#real-number-wrapper",
                    ".insert-money-after",
                    ".insert-account-after"                 
                ], function(i, item){
                    that["_$" + $.camelCase(item.replace(/\#|\./g, ""))] = $(item);
                });
                $(document.body).addClass("jr-home-root");
                return that;
            },
            _madeArray: function(number){
                var array = [];
                for(var i = 0; i <= number; i++){
                    array.push(i);
                }
                return array;
            },          
            _formatNumber: function(number) {
                var numbers,
                    decimals,
                    integrals,
                    result = "";
                number = "" + number; //转成字符串
                numbers = number.split(/\./); //根据小数点分割
                integrals = numbers.shift(); //整数
                decimals = numbers.pop(); //小数
                for (var index = 0, length = integrals.length, last = length - 1, i = last; i >= 0; i--) {
                    result = integrals.charAt(i) + result;
                    if (!((index + 1) % 3) && index !== last) {
                        result = "," + result;
                    }
                    index += 1;
                }
                if (decimals) {
                    result += "." + decimals;
                }
                return result;
            },
            _generate: function(number, $target, reset){
                var num,
                    digit,
                    html = [],
                    that = this,
                    numCount = 0,
                    marginTop = 0,
                    offsetMap = {},
                    easing = that._easing,
                    target = $target.data("target"),
                    number = (number + "").replace(/\,|\，/g, ""),
                    formatNumber = that._formatNumber(number),
                    numberLength = (parseInt(number) + "").length;

                if(reset){
                    offsetMap = that._getOffset(target);    
                }
                for(var i = 0, length = formatNumber.length; i < length; i++){
                    num = formatNumber.charAt(i);
                    if($.isNumeric(num)){
                        num = parseInt(num, 10);
                        digit = numberLength - numCount;
                        if(reset){
                            marginTop = offsetMap[digit];   
                        }
                        html.push(Mustache.render(that._template.numberList, {
                            value: num,
                            digit: digit,
                            target: target,
                            offset: -num * 27,
                            marginTop: marginTop,
                            number: that._madeArray(num),
                            easing: easing[Math.floor(Math.random() * (easing.length - 1) + 1)]
                        }));
                        numCount = numCount + 1;
                    }else if(num === ","){
                        html.push(Mustache.render(that._template.comma, {
                            target: target
                        }));
                    }else{
                        numCount = numCount + 1;
                        html.push(Mustache.render(that._template.period, {
                            target: target
                        }));
                    }
                }
                $("[data-target=\"" + target + "Run\"]").remove()
                $target.after(html.join(""));

                return that;
            },
            _getOffset: function(target){
                var offset = {},
                    that = this;
                $(".number-list-wrapper[data-target=\"" + target + "Run\"] .number-list").each(function(){
                    var $this = $(this),
                        marginTop = $this.css("margin-top");
                    offset[$this.data("digit")] = parseFloat(marginTop === "auto" ? "0" : marginTop); 
                });
                return offset;
            },
            _reset: function(number, $target){
                var that = this;
                that._generate(number, $target, true);
                return that;
            },
            _run: function(){
                var that = this;
                $(".number-list").each(function(){
                    var $this = $(this);
                    $this.animate({
                        "margin-top": $this.data("offset")
                     }, {
                        duration: 1000,
                        easing: $this.data("easing")
                    })                      
                });
                return that;
            },
            _initTempalte: function(){
                var tpl,
                    $this,
                    that = this,
                    template = that._template;
                $(".customer-template").each(function() {
                    $this = $(this);
                    template[$.camelCase($.trim($this.attr("data-type")))] = $.trim($this.html());
                });
                return that;                    
            },          
            _bindEventListener: function(){
                var that = this,
                    eventCallback = that._eventCallback;
                $(document)
                    .on("click", "[data-action]", function(e) {
                        e.preventDefault();
                        var $this = $(this),
                            action = $.trim($this.attr("data-action"));
                        if (!$this.data("pending") 
                                && !$this.prop("disabled") 
                                    && !$this.hasClass("disabled")
                                        && eventCallback[action]) {
                            eventCallback[action].call(that, e, $this);
                        }
                    });             
                return that;
            },
            _eventCallback: {
                apply: function(e, $target){
                    var that = this;
                    if(!$target.data("pending")){
                        //防止反复提交
                        $target.data("pending", true);  
                        $.ajax({
                            type: "get",
                            dataType : "jsonp", 
                            jsonp: "jsoncallback",
                            url: "../www.zhaosuliao.com/jr/checkMember"
                        }).done(function(data){
                            if (data.status == 1) {
                                //成功
                                window.location.href = "my"; 
                            } else if (data.status == 2) {
                                //未登陆
                                show_dialog_login();
                            } else if (data.status == 3 || data.status == 4) {
                                //3"贵公司已经是金融客户，详情请联系您的交易员。"   
                                //4"贵公司已经在申请中，详情请联系您的交易员。"  
                                art.dialog({
                                    lock: true,
                                    width: 360,
                                    height: 290,
                                    fixed: true,                                     
                                    title: "温馨提示",
                                    content: $("#" + (data.status == 3 ? "alreadyFinance" : "applingFinance")).html()    
                                });
                            } else {
                                //出错
                                window.location = "../www.zhaosuliao.com/common/error500";
                            }                       
                        }).always(function(){
                            $target.data("pending", false); 
                        });
                    }
                }   
            }
        };
        $(function(){
            Main.init();
        });
    })(this, jQuery);
    $(function(){
        //右侧飘窗
        $(".jr-home-fc .li").each(function(){
            $(this).mouseover(function(){
                $(this).find("span").show();
            }).mouseout(function(){
                $(this).find("span").hide();
            });
        });
        $(".jr-home-fc .code").mouseover(function(){
            $(this).find("span,.s").show();
        }).mouseout(function(){
            $(this).find("span,.s").hide();
        });
        $(".up_top").click(function(){
            $('body,html').animate({scrollTop:0},600);
        });

        // 系统演示
        $(".jr-home-demo").find("li").each(function(){
            $(this).mouseover(function(){
                var src=$(this).find("img").data("src");
                $(".jr-home-demo .img-show").find("img").attr("src",src);
                $(".jr-home-demo .img-show").show();
            }).mouseout(function(){
                $(".jr-home-demo .img-show").hide();
            });
        })
    })
</script>                       
