<div class="left">
    <div class="lan">
        <p class="title" style="margin-top:0;">我的报价单</p>
        <p><a href="{:U('Home/Product/batchupload')}" >批量上传报价</a></p>
        <p><a href="{:U('Home/Product/baojiadanadd')}" >单条发布报价</a></p>
        <p><a href="{:U('Home/Product/mysupply')}" >我的报价单</a></p>
    </div>
    <div class="lan">
        <p class="title">我的交易信息</p>
        <p><a href="{:U('Home/Purchase/purchaseadd')}" >发布采购</a></p>
        <p><a href="{:U('Home/Purchase/mypurchase')}" >我的采购</a></p>
    </div>
    <div class="lan">
        <p class="title">账户管理</p>
        <p><a href="{:U('Home/User/userinfo')}">账户信息</a></p>
        <p><a href="{:U('Home/User/changepwd')}" >修改密码</a></p>
    </div>
    <div class="tel">
        <img src="http://www.zhaosuliao.com/resources/fore/image/member/tel.png"alt="找磁材网交易热线"/>
        <div class="jyrx">
            <p>交易热线</p>
            <p>020-83939808</p>
        </div>
    </div>
</div>  