<div class="left">
    <div class="lan">
        <p class="title" style="margin-top:0;">我的报价单</p>
        <p><a href="http://www.zhaosuliao.com/member/product/product_import" >批量上传报价</a></p>
        <p><a href="{:U('Home/User/baojiadanadd')}" >单条发布报价</a></p>
        <p><a href="http://www.zhaosuliao.com/member/product/list" >我的报价单</a></p>
    </div>
    <div class="lan">
        <p class="title">我的交易信息</p>
        <p><a href="{:U('Home/User/purchaseadd')}" >发布采购</a></p>
        <p><a href="http://www.zhaosuliao.com/member/purchase/list" >我的采购</a></p>
    </div>
    <div class="lan">
        <p class="title">账户管理</p>
        <p><a href="http://www.zhaosuliao.com/member/account" >账户信息</a></p>
        <p><a href="http://www.zhaosuliao.com/member/password/edit" >修改密码</a></p>
    </div>
    <div class="tel">
        <img src="http://www.zhaosuliao.com/resources/fore/image/member/tel.png"alt="找塑料网交易热线"/>
        <div class="jyrx">
            <p>交易热线</p>
            <p>020-83939808</p>
        </div>
    </div>
</div>  