<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <!--头部公共部分-->
<include file="User/header2" />
<link href="http://www.zhaosuliao.com/resources/fore/css/member.css?v=20151030" rel="stylesheet" type="text/css" />
<div class="top">
    <div class="top_t">
        <div class="w960">
            <div class="r">
                您好，<span class="color">{$userdata['username']}({$userdata['phone']})</span><a href="{:U('Home/User/logout')}" class="logout" data-url="{:U('Home/Index/index')}">【退出】</a>&nbsp;&nbsp;<i>|</i>&nbsp;&nbsp;<span>交易热线：<span >020-83939808</span></span>&nbsp;&nbsp;<i>|</i>&nbsp;&nbsp;交易时间：工作日 9:00-17:30
            </div>
            <a class="font_14" href="{:U('Home/Index/index')}" target="_blank">回到首页</a>&nbsp;&nbsp;<i>|</i>&nbsp;&nbsp;<a class="font_14" href="{:U('Home/User/member')}">会员中心</a>
        </div>
    </div>
    <div class="logo">
        <div class="w960" style=" overflow:hidden;">
            <img src="http://www.zhaosuliao.com/resources/fore/image/member/member_logo.png" title="找塑料网" alt="找塑料网logo"/>
        </div>
    </div>
</div>
<div class="member_wrap" >
    <div class="member_content" >
        <!--左侧公共部分-->
        <include file="User/left" />
    <div class="right index">
        <p class="welcome">2016年08月28日  尊敬的 <span class="color_f90">{$userdata['username']}({$userdata['phone']})</span>，欢迎来到找塑料网会员中心！<a href="http://jr.zhaosuliao.com/my" style="margin-left: 60px; color: #3232FF;">申请金融服务</a></p>
        <div class="apply_vip">
            <img class="tan" src="http://www.zhaosuliao.com/resources/fore/image/member/tan.png"/>
            <div class="vip_text">
                    <p>您的基本资料未填写完成。</p>
                    <p>请完善您的基本资料并申请正式会员，享受更多会员服务。</p>
                    <a class="vip_btn" href="http://www.zhaosuliao.com/member/account/preAudit">立即申请正式会员</a>
            </div>
        </div>
        <div class="pulic_title">我的专属交易员</div>
            <p class="no_vip">您还未申请正式会员，不能享有专属交易员服务。</p>
            <p class="p_a">
                <a class="btn_a" href="http://www.zhaosuliao.com/member/account/preAudit">立即申请认证</a>
            </p>
        <div class="pulic_title mar_t15">最新采购信息</div>
        <div class="list_div">
            <ul class="list_ul">
                <li>
                    <span class="sp1">采购：</span>
                    <span class="sp2"> DMDA8008 </span>
                    <span class="sp3">中石化福炼 </span>
                    <span class="sp4"> 10吨  </span>
                    <span class="sp5"> 8900 至  8950 元/吨 </span>
                    <span class="sp6">佛山 </span>
                    <span class="sp7">正在洽谈</span>
                    <a class="supply_button" href="javascript:void(0)" data-id="231212">我要供货</a>
                </li>
                <li>
                    <span class="sp1">采购：</span>
                    <span class="sp2"> S1003 </span>
                    <span class="sp3">宁夏宝丰 </span>
                    <span class="sp4"> 200吨  </span>
                    <span class="sp5"> 8200 至  8210 元/吨 </span>
                    <span class="sp6">佛山 </span>
                    <span class="sp7">正在洽谈</span>
                    <a class="supply_button" href="javascript:void(0)" data-id="231210">我要供货</a>
                </li>
                <li>
                    <span class="sp1">采购：</span>
                    <span class="sp2"> SG-5 </span>
                    <span class="sp3">新疆圣雄能源 </span>
                    <span class="sp4"> 30吨  </span>
                    <span class="sp5"> 5550 元/吨 </span>
                    <span class="sp6">佛山 </span>
                    <span class="sp7">正在洽谈</span>
                    <a class="supply_button" href="javascript:void(0)" data-id="231206">我要供货</a>
                </li>
                <li>
                    <span class="sp1">采购：</span>
                    <span class="sp2"> PA-757 </span>
                    <span class="sp3">台湾奇美 </span>
                    <span class="sp4"> 2吨  </span>
                    <span class="sp5"> 12050 至  12100 元/吨 </span>
                    <span class="sp6">中山 </span>
                    <span class="sp7">正在洽谈</span>
                    <a class="supply_button" href="javascript:void(0)" data-id="231204">我要供货</a>
                </li>
                <li>
                    <span class="sp1">采购：</span>
                    <span class="sp2"> SG-5 </span>
                    <span class="sp3">新疆中泰 </span>
                    <span class="sp4"> 30吨  </span>
                    <span class="sp5"> 6060 元/吨 </span>
                    <span class="sp6">佛山 </span>
                    <span class="sp7">正在洽谈</span>
                    <a class="supply_button" href="javascript:void(0)" data-id="231203">我要供货</a>
                </li>
            </ul>
        </div>   
    </div>
</div>
</div>

<!-- <div id="myMask" style="display:block"></div> 
<div id="mysupply" style="display:block;">
    <div class="supply_title">
        <a class="close_supply" href="javascript:void(0)"></a>
    </div>
    <div class="supply_content">
        <p class="supply_p1">采购内容： 采购：LDPE 2102TX00 伊朗国家石化 20吨 9800元 上海</p>
        <p class="supply_p2">请在下方填写您的真实报价（价格必填），并对您的货物描述清楚。</p>
        <p class="supply_p3">例如：ABS HP171 惠州中海油乐金 5吨 13450元 东莞市 东莞塑胶交易市场</p>
        <p class="supply_p4">ABS AG15E1 台湾台化 5吨 13800 东莞塑胶交易市场</p>
        <div class="supply_input">
            <div class="supply_line_input">
                <span class="supply_input_text">公司名称：</span>
                <input type="text" class="supply_input_inp" />
                <span class="supply_input_text">企业类型：</span>
                <select class="supply_select">
                    <option value="">--请选择--</option>
                    <option value="">上游厂家</option>
                    <option value="">贸易商</option>
                    <option value="">终端</option>
                </select>
                  
                <span class="supply_input_text">地区：</span>
                <div class="area_wrapper">
                    <div class="rovince_parent parent_div province_div" data-target="province">
                        <input type="text" readonly class="areapop_input"/>
                        <input type="hidden"  name="provinceId" />
                    </div>
                    <div class="city_parent parent_div city_div" data-target="city">
                        <input type="text" readonly class="areapop_input" />
                        <input type="hidden"  name="cityId" />
                    </div>
                </div>
                
            </div>
            <div class="supply_line_input">
                <span class="supply_input_text">主营品种：</span>
                <input type="text" class="supply_input_inp " />
                
                <span class="supply_input_text">联系人：</span>
                <input type="text" class="supply_input_inp "  />
                
            </div>
        </div>
        
        <div class="supply_textarea_div">
            <div class="textarea_left">货物描述：</div>
            <div class="textarea_right">
                <textarea></textarea>
            </div>
        </div>
        <p class="supply_tips"><span>不合理报价会被系统自动屏蔽</span></p>
        <input class="supply_submit" type="submit" value="我要供货"/>
    </div>
</div>
-->
<!--底部公共部分-->
<include file="Index/footer" />