<!--头部公共部分-->
<include file="Index/header" />
<link href="__PUBLIC__/pc/css/info.css" rel="stylesheet" type="text/css" />
<script>
$(function(){
    //回到顶部
    var win=$(window);
    var doc=$(document);
    win.scroll(function(){
         if(doc.scrollTop()>=182){
             $(".up_top").fadeIn();
                 
         }else{

        $(".up_top").fadeOut();

         }  
    });

    $(".up_top").click(function(){
     $('body,html').animate({scrollTop:0},600);  
    });

    //左右对齐
    var divLeft=$(".enter").children("div").eq(0),
        divRight=$(".enter").children("div").eq(1),
        divLeftHeight=divLeft.height(),
        divRightHeight=divRight.height();
    if(divLeftHeight>=divRightHeight){
        divRight.height(divLeftHeight);
    }else{
        divLeft.height(divRightHeight);
    }

});
</script>
<div class="up_top"><a></a></div><div class="main">
	<div class="enter">
        
        <div class="left01">
<p class="left_title">
    <img src="resources/fore/image/info/flag.png" />
    走进找磁材网
</p>
<ul class="left_nav">
    <li class="first"><a class="active" href="about.html">关于我们</a></li>
    <li><a  href="zixun/gsdt/default.htm">公司动态</a></li>
    <li><a  href="zixun/mtbd/default.htm">媒体报道</a></li>
    <li><a  href="job.html">诚聘英才</a></li>
    <li><a  href="contact.html">联系我们</a></li>
    <li><a  href="feedback.html">意见反馈</a></li>
    <!-- <li><a  href="http://www.zhaosuliao.com/ceo_mailbox.html">CEO邮箱</a></li> -->
    <li><a  href="law.html">法律声明</a></li>
    <li><a  href="sitemap.html">网站地图</a></li>
    <li><a  href="links.html">友情链接</a></li>
</ul>        </div>
        
        
        <div class="r01">
        	<div class="title01">
                <div class="mark_line01"></div>
                关于我们
            </div>
            <div class="content01">            
                <p>找磁材网是领先的一站式塑化电商，通过互联网IT集成系统结合撮合交易积累的海量用户和交易资源，实现了集代销代购（自营）、物流配送、金融服务、行情分析、改性磁材OEM于一体的全产业链生态闭环。</p>
                <p class="mar_t40">找磁材网于2014年7月成立，创始团队汇集了来自大宗商品、阿里巴巴和塑化行业的资深人士。目前，团队近400人，除广州总部外，在全国设立了10家分公司，业务辐射全国。找磁材网位列中国B2B企业十强，分别被中国磁材加工工业协会、中国互联网协会评为“AAA优秀信用企业”，被中国电子商务协会评为“中国电子商务诚信示范企业”，被广州日报和广州电子商务行业协会联合评为“最佳B2B平台”。</p>
                <img src="resources/fore/image/info/about_funiu.jpg" align="right" style="margin:0 20px;" />
                <p class="mar_t40">创立伊始，找磁材网就获得真顺基金、经纬中国投资，2015年1月获得启明创投、IDG资本A轮融资，2015年7月获得B轮融资，本轮融资由新天域资本领投，光信资本、启明创投、IDG资本和真顺基金跟投。</p>
                <p class="mar_t40">找磁材网通过撮合交易服务，成为塑化行业入口级平台，积累了海量上下游用户资源，掌握了巨量交易信息流，并利用自主研发的先进IT集成交易系统，提供优质高效的代销代购（自营）、物流配送、金融服务、行情分析、改性磁材OEM等一站式服务，从而实现了信息流、交易流、物流、资金流的高度融合，构建了塑化行业的全产业链生态圈，助力塑化行业的转型升级、提质增效。</p>

                <div class="mar_t40 team01">
                    &nbsp;&nbsp;&nbsp;&nbsp;企业荣誉
                </div> 
                <p style="text-indent:0;"><img src="resources/fore/image/info/honor.jpg" /></p>
                
                <div class="mar_t40 team01">
                    &nbsp;&nbsp;&nbsp;&nbsp;投资者团队
                </div>  
                <div class="company mar_t20">
                    <div class="company_name lg1"></div>
                    <p class="p1"><a class="color1" href="../www.nhfund.com/default_cn.htm" target="_blank">新天域资本（New Horizon）</a>成立于2005年，是一家专注于中国市场的私募股权投资基金，着力于“转型”与“成长”两条主线，致力于为基本面良好、具有高增长潜力的企业提供转型及进一步发展的助力。
                    </p>
                </div>
                <div class="company mar_t20">
                    <div class="company_name lg2"></div>
                    <p class="p2"><a class="color1" href="../www.gxcapital.com.cn/default.htm" target="_blank">光信资本（GX Capital）</a>是一家专注于TMT/互联网、医疗健康等行业的风险投资管理公司，目前资产管理规模超过人民币30亿元，已在境内外市场有多起成功上市案例。</p>
                </div>
                <div class="company mar_t20">
                    <div class="company_name lg3"></div>
                    <p class="p1"><a class="color1" href="../www.qimingventures.com/zh-hans" target="_blank">启明创投</a>成立于2006年2月，是一家中国领先的风险投资机构，在上海、北京和香港设有办公室。启明创投旗下管理四支基金，资金总额超过11亿美元，专注于媒体和互联网、信息技术、消费者和零售业、医疗保健以及清洁能源等行业早期和成长期企业的投资。</p>
                </div>
                 <div class="company mar_t20"> 
                    <div class="company_name lg4"></div>
                    <p class="p1"><a class="color1" href="../www.idgvc.com/default.htm" target="_blank">IDG资本</a>专注于与中国市场有关的VC/PE投资项目，在香港、北京、上海、广州、深圳等地设有办事处。自1992年开始，作为最早进入中国市场的国际投资机构之一，IDG资本已投资包括百度、搜狐、腾讯、搜房、携程、汉庭、如家、金蝶、物美、康辉、九安等300家优秀企业。</p>
                </div>
                 <div class="company mar_t20"> 
                    <div class="company_name lg5"></div>
                    <p class="p2">真顺基金专注于互联网、移动互联网领域的天使投资，致力于寻找有能力、有愿景，能引领产业变革、具有宏大格局的创始人，并帮助他们获得成功。</p>
                </div>
                <div class="company mar_t20"> 
                    <div class="company_name lg6"></div>
                    <p><a class="color1" href="../www.matrixpartners.com.cn/default.htm" target="_blank">经纬创投(Matrix)</a>是国内外知名风险投资机构，专注于初创型高科技公司投资。经纬中国(Matrix Partners China)成立于2008年，由邵亦波、徐传陞和张颖三位管理合伙人共同管理。投资领域涉及环保技术、教育、能源、金融服务、健康、互联网和软件行业等。投资的公司包括分众媒体、易趣、百度、爱康国宾、世纪互联、安居客、暴风影音、宝宝树育儿网等。</p>
                </div>
            </div>
        </div>
        
	</div>
</div>
<!--底部公共部分-->
<include file="Index/footer" />